doctype
html.no-js(lang="")
  != partial( "../partials/html" )
  body(class='site')
    != partial( "../partials/header" )
    main.site__content.document.block
      != yield
    != partial( "../partials/menu" )
    != partial( "../partials/footer" )
    link(rel="stylesheet" href="/main.css" type="text/css" media="screen")
    link(rel="stylesheet" href="/print.css" type="text/css" media="print")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js")
    script
      |hljs.initHighlightingOnLoad();
    script(src="/main.js")